---
layout: default
title: applezqp
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <header>
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <time class="post-time" datatime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        <span class="post-tags">Tagged {{ post.categories || array_to_sentence_string }}</span>
      </header>
      {{ post.content }}
    </article>
  {% endfor %}
</div>

{% include pagination.html %}
